azure-core==1.36.0
azure-storage-blob==12.27.1
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
idna==3.11
imutils==0.5.4
isodate==0.7.2
mysql==0.0.3
mysql-connector-python-rf==2.2.2
mysqlclient==2.2.7
numpy==2.0.2
opencv-python==4.12.0.88
pycparser==2.23
pyodbc==5.3.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
